body {
    text-align: center;
    font-family: Arial, Verdana, Sans-serif;
    color: green;
    background-color: rgb(165, 206, 105);
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

button {
    background-color: green;
    color: rgb(165, 206, 105);
    border: none;
    display: inline-block;
    text-decoration: none;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.selected {
    border-radius: 30%;
}